---
spring:
  jpa:
    database: {{ rulechains[deploy_env].database.jpa.database }}
    hibernate:
      ddl-auto: validate
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: "{{ rulechains[deploy_env].database.url }}"
    username: {{ rulechains[deploy_env].database.user }}
    password: {{ rulechains[deploy_env].database.password }}
    driver-class-name: org.mariadb.jdbc.Driver
    hikari:
      connectionTimeout: 60000
      maximumPoolSize: 15
      cachePrepStmts: true
      prepStmtCacheSize: 250
      prepStmtCacheSqlLimit: 2048
      useServerPrepStmts: true
      useLocalSessionState: true
      useLocalTransactionState: true
      rewriteBatchedStatements: true
      cacheResultSetMetadata: true
      cacheServerConfiguration: true
      elideSetAutoCommits: true
      maintainTimeStats: false
    properties:
      passwordCharacterEncoding: ISO8859_1
      initialSize: 5
      maxActive: 100
      minIdle: 5
      validationQuery: SELECT 1
      maxIdle: 7
      maxWait: 10000
      maxAge: 600000
      timeBetweenEvictionRunsMillis: 5000
      minEvictableIdleTimeMillis: 60000
      validationQueryTimeout: 3
      validationInterval: 15000
      testOnBorrow: true
      testWhileIdle: true
      testOnReturn: false
      jdbcInterceptors: "ConnectionState;StatementCache(max=200)"
  http:
    multipart:
      max-file-size: 4096KB
      max-request-size: 4096KB
server:
  port: {{ rulechains[deploy_env].config.port }}
storage:
  location: /tmp
logging:
  level:
    org.springframework.web: DEBUG
    edu.usf.it.PersonRegistry: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file: /var/log/rulechains/rulechains.log
